<nav id="navbar"
class="fixed top-0 left-0 w-full z-50 
transition-all duration-500">

  <div class="max-w-7xl mx-auto px-6 h-16 flex items-center justify-between">

    <!-- Logo -->
    <a href="/" class="text-xl font-bold ">

      <span class="text-primary-light">a</span>rnav.

    </a>


    <!-- Links -->
    <div class="flex items-center gap-8 text-sm">

      <a href="/" class="nav-link">Home</a>

      <a href="/about/" class="nav-link">About</a>

      <a href="/projects/" class="nav-link">Projects</a>
      <a href="/services/" class="nav-link">Services</a>
      <a href="/contact/" class="nav-link">Contact</a>

    </div>


    <!-- Button -->
    <a href="contact /"
    class="px-4 py-2 rounded-lg bg-primary text-black font-medium
    hover:bg-primary-light transition">

      Hire Me

    </a>

  </div>

</nav>